{% extends 'base.html' %}
{% block title %}
About Us - {{ block.super }}
{% endblock title %}

{% block content %}
<h1 style="text-align:center;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">ABOUT
    US</h1>
<p style="text-align:center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Here,
    we have a
    collection of really dull books. Why are you here?</p>

{% endblock content %}