{% extends 'base.html' %}
{% block title %}
{{ block.super }}
{% endblock title %}

{% block content %}

<h1 style="text-align:center;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">HELLO
    THERE!
</h1>
<p style="text-align:center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Welcome
    to the next Amazon.com.</p>
<ul>
    {% for book in books %}
    <li>{{ book }}</li>
    <h2><a href="{% url 'book_detail' slug=book.slug %}"></a>
        <li>{{ book.book_name }}</li>
        </a>
    </h2>
    <li>{{ book.author }}</li>
    <li>{{ book.description }}</li>
    <li>{{ book.pub_date }}</li>
    <li>{{ book.categories }}</li>
    <li>{{ book.slug }}</li>
    <li>{{ book.picture.url }}</li>
    {% endfor %}
</ul>

{% endblock content %}